@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto,'Times New Roman', Times, serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 900;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-right ul{
    display: flex;
    gap: 14px;
}

.container-one{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-one-left {
    width: 500px;
}

.container-one-left p{
    font-size: 24px;
}
.container-one-left .container-one-left-title {
    font-weight: 900;
    font-size: 48px;
}

.container-one-left button {
    border: none;
    background-color: #3883F6;
    color: white;
    padding: 8px 24px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.container-one-right {
    background-color: #E5E7EB;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.container-two-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 0;
}

.container-two-pic {
    height: 150px;
    width: 150px;
    border: 2px solid #3883F6;
    border-radius: 15px;
}

.container-two-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-three {
    background-color: #E5E7EB;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

#quote {
    width: 70vw;
}

#sayer {
    text-align: right;
    font-weight: 900;
}

.container-four {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.container-four-left {
    max-width: 600px;
}

.container-four-holder {
    width: 800px;
    background-color: #3883F6;
    color: white;
    padding: 15px 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-four-call {
    font-weight: 700;
}

.container-four-right {
    display: flex;
    align-items: center;
}

.container-four-right button {
    border: 2px solid white;
    background-color: #3883F6;
    color: white;
    padding: 8px 24px;
    border-radius: 10px;
    width: 100px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 900;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}